*,
*::before,
*::after,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display','Poppins', 'Source Sans Pro', sans-serif;
}
body{
    height: 100vh;
}

.icon {
    width: 24px;
    height: 24px;
    filter: invert(1); 
  }
.header .icon{
    filter:invert(0);
}
  

.container{
    display: grid;
    grid-template-rows: 1fr  5fr;
    grid-template-columns: 1fr 5fr;
    height: 100%;
}



.content{
    background-color: #f9f3e3
}

.title{
    font-size: 30px;
    font-weight: bold;
}
.text{
    font-size: 20px;
}
.dashboard{
    background-color: #0c4126;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    gap: 50px;
}
.dashboardcontainer{
    display: flex;
    align-items: center;
    gap: 20px;
}
.dashboard .title,
.dashboard .text{
    color: #e5ddc5;
}


.middle-group,
.bottom-group {
  display: flex;
  flex-direction: column;
  gap: 16px; 
}


.header{
    grid-column: 2/3;
    background-color: #e5ddc5;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: 10;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 30px;
}

.topheaderleft{
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;

}
input{
    background-color: rgb(205, 214, 203);
    width: 80%;
    height: 60%;
    border: none;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 9999px;
    outline: none;
    padding: 12px 20px;
    
}
.topheaderright{
    grid-column: 2/3;
}
.bottomheaderright{
    grid-column: 2/3;
    grid-row: 2/3;
}

